* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    height: 300vh;
    cursor: cell;
    background-color: #EEEBE6;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: #cf676f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
}

.loading-page {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background: linear-gradient(to right, #EEEBE6, #cf676f, #C6404C);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    pointer-events: none;
}

.loading-page::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("resources/img/perlin.svg");
}

@keyframes draw {
    0% {
        stroke-dashoffset: 4500;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

#svg {
    height: 150px;
    width: 150px;
    stroke: #fff;
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;
    
}

.name-container {
    height: 30px;
}

.logo-name {
    color: #fff;
    font-size: 20px;
    letter-spacing: 12px;
    text-transform: uppercase;
    font-family: "Michroma";
    text-align: center;
    margin-left: 20px;
}

.landing-page {
    background-image: url("resources/img/perlin.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #C6404C;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "poppins";
    position: relative;
    font-weight: 900;
    user-select: none;
}

.landing-page p {
    text-align: center;
    font-size: clamp(48px, 8vw, 120px);
}

.landing-page::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 125px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right;
    background-image: url("resources/img/waves.svg");
}

.landing-page::after {
    content: "";
    position: absolute;
    z-index: 999;
    bottom: -100px;
    right: 0px;
    height: clamp(300px, 50vh, 600px); /* Minimum 400px, preferred 50% of viewport height, maximum 600px */
    width: clamp(150px, 30vw, 400px);  /* Minimum 250px, preferred 30% of viewport width, maximum 400px */



    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("resources/img/man1.svg");
}

.landing-page nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 999;
}

.landing-page nav h1{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 900;
    border-radius: 5px;
    background-color: #C6404C;
    padding: 5px;
    transition: .25s linear all;
    cursor: crosshair;
    user-select: none;
}

.landing-page nav h1:hover{
    background-color: #cf676f;
}

.landing-page nav a{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    color: #C6404C;
    padding: 5px;
    text-decoration: none;
    transition: .25s linear all;
    user-select: none;
}
.landing-page nav a:hover{
    background-color: #C6404C;
    color: #fff;
}


.box {
    display: flex;
    justify-content: center;
    align-self: center;
}

.second-row {
    display: flex;
    flex-direction: row;
}

.box .eye {
    position: relative;
    width: clamp(40px, 5vw, 100px); /* Adjusted size */
    height: clamp(40px, 5vw, 100px); /* Adjusted size */
    display: block;
    background: transparent;
    border: .1vw solid #00000050;
    margin: 0px 1vw;
    border-radius: 50%;

    overflow: hidden;
}

.box .eye::before {
    content: "";
    position: absolute;
    top: calc(50% + var(--pupil-y, 0px));
    left: calc(50% + var(--pupil-x, 0px));
    width: clamp(10px, 1vw, 20px); /* Adjusted pupil size */
    height: clamp(10px, 1vw, 20px); /* Adjusted pupil size */
    background: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px rgb(255, 255, 255); /* Adjusted border size */
    outline: solid clamp(5px, .5vw, 10px) #C6404C;
    box-sizing: border-box;
}

.links {
    position: absolute;
    z-index: 999;
    bottom: 10vh;
    left: 5vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.links p {
    font-size: 20px;
    font-weight: 600;
}

.link-images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    background-color: #C6404C;
    padding: 3px 5px;
    border-radius: 25px;
}

.link-images a {
    height: 15px;
    width: 15px;;
}

.link-images img {
    height: 15px;
    width: 15px;
}







.websites {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10%;
    height: 100vh;
    width: 100vw;
    background-color: #EEEBE6;
}

.one-web {
    position: relative;
    aspect-ratio: 16/9;
    width: 800px;
    height: 450px;
    height: fit-content;
}

.one-web img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.new {
    position: absolute;
    top: 5px;
    left: 5px;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #C6404C;
    padding: 3px 5px;
    border-radius: 5px;
    font-family: "Poppins";
    color: #fff;
    font-size: 20px;
    font-weight: 800;
}
